body {
font-family: sans-serif;
background-color: white;
}

h1 {
color: white;
background-color: black;
height: 2em;
font: 10em;
position: fixed;
width: 100%;
top: 0em;
margin-top: 0em;
left: 0em;
}

section {
color: black;
background-color: #f8f7f7;
max-width: 100%;
border: solid white 20px;
top: 50em;
margin-top: 2em;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-column-gap: 2em;
}

.foto{
width: 100%;
padding-top: 0.5em;
}

button {
padding: 1em;
margin: 1em;
width: 90%;
border-radius: 1em;
top: 2em;
border-color: black;
border: solid 0.3em;
font-size: 1em;
}

button:hover {
background-color: #cf1417;
border-color: white;
color: white;
}

.title {
margin: 0em;
padding: 0em;
top: 0em;
color: white;
background-color: black;
height: 3em;
width: 100%;
}

h2 {
margin: 20em;
padding: 20em;
top: 20em;
}

p{
left: 1em;
max-width: 95%;
padding-left: 0em;
position: relative;
}

/*uitklapbare knop*/
.show{
  opacity: 1;
  overflow: hidden;
  transition: max-height 300ms, opacity 300ms 100ms;
}

.hidden{
  opacity: 0;
  display: none;
  transition: max-height 300ms 100ms, opacity 300ms;
}

.container .beschrijvingContainer {
display: none;
}

.container.active .beschrijvingContainer {
  display: block;
}

span {
display: none;
}

span.show {
  display: block;
}
