body {
	font-family: Courier New;
	background-color: white;
}

h1 {
	color: white;
	background-color: black;
	height: 2em;
	font: 10em;
	position: fixed;
	width: 100%;
	top: 0em;
	margin-top: 0em;
	left: 0em;
}

section {
	color: black;
	background-color: #f8f7f7;
	max-width: 100%;
	max-height: 50em;
	border: solid white 20px;
	top: 50em;
	margin-top: 2em;
}

.content-container {
	display: grid;
	grid-template-columns: repeat(2, 50%);
	grid-column-gap: 2em;
}

.foto {
	width: 100%;
	padding-top: 0.5em;
}

button {
	margin-top: 1em;
	width: 100%;
	border-radius: 1em;
	border-color: black;
	border: solid 0.1em;
	font-size: 1em;
	font-family: 	Courier New;
	padding: 1em;

}

button:hover {
	background-color: #cf1417;
	border-color: white;
	color: white;
	box-shadow: 0.1em 0.1em 0.5em 0.1em grey;
}

.title {
	width: 92.5%;
	padding: 1em;
	color: white;
	background-color: black;
}

.titeltje {
	font-size:4em;
  height: 1.3em;
}

nav{
	text-align: center;
	top: 0em;
	height: 3em;
	background-color: black;
	width: 100%;
}

p {
	left: 1em;
	max-width: 95%;
	padding-left: 0em;
	position: relative;
}

p.details {
	display: none;
}

p.details.show {
	display: block;
}

/*uitklapbare knop*/
.container .beschrijvingContainer {
	display: none;
}

.container.active .beschrijvingContainer {
	display: block;
}

span {
	display: none;
}

span.show {
	background-color: #cf1417;
	display: block;
	text-align: center;
}

.laadknop{
height: 4em;
margin-top: 3em;
width: 100%;

}
#boven {
	position: static;
}

.boven {
	position: fixed;
	bottom: 1em;
	right: 1em;
	width: 5em;
}
